.html-widget{
	overflow: auto;
}
html,body{
	background: rgba(255, 255, 255, 0.8) !important;
	font-family:-apple-system, BlinkMacSystemFont, Helvetica, Arial, Microsoft Yahei, SimHei;
}
#board-content{
	background: transparent;
}

h2.title{
	margin-bottom: 0 !important;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ready .gs_w:not(.preview-holder) .pending a:hover,a:focus{
	text-decoration: none;
}

.table td{
	border-top: 1px solid #d3d3d3;
}

table.dataTable.widget-datatable{
	border-collapse: collapse;
}

table.dataTable.row-border.widget-datatable tbody td{
	border-top: 1px solid #f4f4f4;
}

table.dataTable.widget-datatable tfoot th{
	border-top: 1px solid #f4f4f4;
}

table.dataTable.widget-datatable.no-footer{
	border-bottom: 1px solid #f4f4f4;
}

.ready .gs_w:not(.preview-holder) .widget-grids .widget-grid{
	width: 33.33333333%;
	height: 75px;
	float: left;
	margin: 6px 0;
	display: block;
	text-decoration: none;
}

.ready .gs_w:not(.preview-holder) .widget-grids{
	margin: 8px 10px;
}

.ready .gs_w:not(.preview-holder) .widget-grids .widget-grid .widget-grid-icon{
	text-align: center;
	width: 27px;
	height: 40px;
	margin: auto;
}

.ready .gs_w:not(.preview-holder) .widget-grids .widget-grid .widget-grid-label{
	text-align: center;
}

.ready .gs_w:not(.preview-holder) .widget-grids .widget-grid .widget-grid-icon .ion{
	font-size: 36px;
	color: #008d4c;
	margin: auto;
}	

.ready .gs_w:not(.preview-holder) .widget-grids .widget-grid .widget-grid-icon .fa{
	margin-left: -5px;
}

body.zoom-extra-large{
	zoom: 135%;
}

body.zoom-large{
	zoom: 120%;
}

.dark .gridster header{
	height: 38px;
	background: rgba(39, 39, 39, 0.45);
}

.dark header h1{
	margin: 4px;
	font-size: 16px;
	color: #f5f5f9;
	height: 38px;
	line-height: 38px;
}

.dark .ready .gs_w:not(.preview-holder){
	background: rgba(42, 42, 42, 0.62);
}

.dark a,span,i{
	color: #eee;
}

.dark .ready .gs_w:not(.preview-holder) .widget-grids .widget-grid .widget-grid-icon .ion{
	color: #eee;
}

.light .ready .gs_w:not(.preview-holder){
	background: rgb(255, 255, 255);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.light a,span,i{
	color: #333;
}

.light .gridster header{
	height: 38px;
	background: #f3f3f3;
	border-bottom: 1px solid #d2d6de;
	border-top: 2px solid #f3f3f3;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.light header h1{
	margin-left: 4px;
    margin-bottom: 6px;
	font-size: 16px;
	color: #333;
	height: 38px;
	line-height: 38px;
}

.li-height-auto .ready .gs_w:not(.preview-holder){
	height: auto;
	border-radius: 5px;
}

.table > tbody > tr > td{
	padding: 7px 8px !important;
}

.gridster.responsive-column-width.ready > ul {
	height: auto !important;
}
