.html-widget{
	overflow: auto;
}
html,body{
	background: transparent;
}
#board-content{
	background: transparent;
}

.gridster header{
	height: 38px;
}

header h1{
	font-size: 18px;
	color: #f5f5f9;
	height: 38px;
	line-height: 38px;
}

.table thead th{
	color: #eee;
}

.ready .gs_w:not(.preview-holder){
	background: rgba(42, 42, 42, 0.62);
}

.gridster header{
	background: rgba(39, 39, 39, 0.45);
}

.table-responsive td a{
	color: #d3d4d4;
}

.ready .gs_w:not(.preview-holder) .widget-icon,.widget-title{
	text-align: center;
}

.ready .gs_w:not(.preview-holder) .widget-title{
	margin-top: 15px;
}

.ready .gs_w:not(.preview-holder) .widget-icon .ion{
	font-size: 350%;
	color: #eee;
}