.html-widget{
	overflow: auto;
}
html,body{
	background: transparent;
}
#board-content{
	background: transparent;
}

.ready .gs_w:not(.preview-holder) .widget-icon,.widget-title{
	text-align: center;
}

.ready .gs_w:not(.preview-holder) .widget-title{
	margin-top: 15px;
}

.ready .gs_w:not(.preview-holder) .pannel{
	width: 50%;
    height: 108px;
    float: left;
    margin: 13px 0;
}

.zoom-extra-large .ready .gs_w:not(.preview-holder){
	zoom: 135%;
}

.zoom-extra-large [data-sizex="2"]{
	width: 462px;
}

.zoom-extra-large [data-col="3"]{
	left: 490px;
}

.zoom-extra-large [data-sizex="1"]{
	width: 212px;
}

.zoom-extra-large [data-sizex="3"]{
	width: 696px;
}

.zoom-extra-large [data-col="4"]{
	left: 724px;
}

.zoom-extra-large [data-sizex="4"]{
	width: 932px;
}

.zoom-extra-large [data-col="5"]{
	left: 964px;
}

.zoom-large .ready .gs_w:not(.preview-holder){
	zoom: 120%;
}

.zoom-large [data-sizex="2"]{
	width: 520px;
}

.zoom-large [data-col="3"]{
	left: 546px;
}

.zoom-large [data-sizex="1"]{
	width: 246px;
}

.zoom-large [data-sizex="3"]{
	width: 784px;
}

.zoom-large [data-col="4"]{
	left: 814px;
}

.zoom-large [data-sizex="4"]{
	width: 1050px;
}

.zoom-large [data-col="5"]{
	left: 1084px;
}

.dark .gridster header{
	height: 38px;
	background: rgba(39, 39, 39, 0.45);
}

.dark header h1{
	font-size: 18px;
	color: #f5f5f9;
	height: 38px;
	line-height: 38px;
}

.dark .ready .gs_w:not(.preview-holder){
	background: rgba(42, 42, 42, 0.62);
}

.dark a,span,i{
	color: #eee;
}

.dark .ready .gs_w:not(.preview-holder) .widget-icon .ion{
	font-size: 350%;
	color: #eee;
}

.light .ready .gs_w:not(.preview-holder){
	background: rgb(255, 255, 255);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.light a,span,i{
	color: #333;
}

.light .ready .gs_w:not(.preview-holder) .widget-icon .ion{
	font-size: 350%;
	color: #333;
}

.light .gridster header{
	height: 38px;
	background: rgb(194, 230, 230);
	border-bottom: 1px solid #d2d6de;
}

.light header h1{
	font-size: 18px;
	color: #333;
	height: 38px;
	line-height: 38px;
}